/* Styles for Cronus Flow sidebar */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #ff00c8;
}

#sidebar-container {
  max-width: 300px;
}

.kauadima3 {
  background-color: #ff00c8;
  height: px;
  font-size: 90px;
}

h1 {
  color: #333;
  font-size: 18px;
}

p {
  color: #666;
}

#content {
  margin-top: 20px;
}

.cf-header {
  background-color: rgb(0, 106, 255);
}
.h1-header {
  margin: 0;
  padding: 12px;
  color: white;
}

#sidebar-container p {
  margin: 0;
  padding: 0px 0px 0px 16px;
  color: white;
}
